*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.image{
    width: 100%;
    height: 100vh;
    background-image:url(../images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.logos{
  width: 100px;
  cursor: pointer;

}
.logo{
  width: 95%;
  height: 15%;
  margin:auto;
  display: flex;
  align-items:center;
  justify-content:flex-start;
}
.navbar{
  width: 85%;
  height: 15%;
  margin:auto;
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
button{
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
.content{
  color: #fbfcfd;
  position: absolute;
  font-size: 25px;
  top: 50%;
  left:8%;
  transform: translateY(-50%);
  z-index: 2;
}
small{
  font-size: 25px;
  font-family: monospace;
}
h1{
  font-size: 80px;
  font-family:sans-serif;
  margin: 10px 0 30px;
  line-height: 80px;
}
.Form{
  padding: 10px 25px;
  top: 50%;
  left: 8%;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: auto;
  justify-content: space-between;
}
Input{
  padding: 10px 25px;
  background: transparent;
  padding: 10px 25px;
  border: 3px solid #000000;
  border-radius: 20px;
  font-size: 25px;
  font-family: serif;
}
.Submit_Button{
  background-color: #008000 ;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}
.Gender_form{
  padding: 10px 25px;
  background: transparent;
  padding: 10px 25px;
  border: 3px solid #000000;
  border-radius: 20px;
  font-size: 25px;
  font-family: serif;

}
